{% if user.is_authenticated %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="with=device-width, initial-scale=1.0"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PYTHON LANGUAGE</title>
    
    <!-- Link To CSS -->
    
    <link rel="stylesheet" href="style5.css">
    
    <!-- Box Icons -->
    
    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

</head>

<body>
  
 
  
 
  

    </div>


    <div class="notes">
      <a style="text-decoration: none;"href="https://drive.google.com/drive/folders/1Hg_YpVoIiYsiD5cA9EllJxQ3hPbWCPWo?usp=share_link" target="_blank">
      <div class="card1">
        <h2>LECTURE NOTES</h2>
    </div></a>
      
      <div class="card">
          <div class="card-border-top">
          </div>
          <span>PROFESSOR</span>
          <div class="img">

          <div class="imgf">
            <img src="images/madhavimaam1.png" >
          </div>

          </div>
          <span1>  Dr. MADHAVI WAGHMARE</span>
          <p class="job"> </p>
          <button><a style="text-decoration: none;"href="https://madhavihw.wordpress.com/" target="_blank" >GOT TO SITE </a> 
          </button>
       </div>    
    </div>











</body>

</html>

{% endif %}