{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="with=device-width, initial-scale=1.0"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOPICS</title>
    
    <!-- Link To CSS -->
    
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
   
    
    <!-- Box Icons -->
<section style="border: 2px solid #e8e0df;">
    <nav>

       
        
        <div class="nav-links" id="navLinks">

            <i class='bx bx-shield-x' style='color:#fff8f7' onclick="hideMenu()" ></i>
           
            
            <ul>
              
                <li><a href="">HOME</a></li>
          
                <li><a href="#">NOTES</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">CONTRIBUTE</a></li>

                
                {% if user.is_authenticated %}

                <li><a href="{% url 'logout' %}">LOGOUT</a></li>

                {% endif %}
            </ul>
        </div>
        <i class='bx bx-menu' style='color:#e8e0df' onclick="openMenu()" ></i>
    </nav>


</section>
    
    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

  
</head>

<body>
    <!-- Link To CSS -->
    
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    
    <!-- Box Icons -->
    
    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">


    <section class="header">

        
    <section class="pricing" id="pricing" >

        <h1 class="heading" style="background-color: #181434;"> SELECT SUBJECT </h1>
         
        <div class="box-container" style="background-color: #181434 ;">
         
            <div class="box1">
            
            <h6>MATHS</h6><br>
            <a href="{% url 'math' %}" class="h-btn"><h3>GET MATHS SEM IV NOTES</h3></a>
             
            </div>
         
              <div class="box2">
    
                <h6>CNND</h6>
                <br>
                <a href="{% url 'cnnd' %}" class="h-btn"><h3>GET CNND SEM IV NOTES</h3></a>
                
             </div>
         
             
            <div class="box4">
               
                <h6>PYTHON LANGUAGE</h6><br>
                <a href="{% url 'python' %}" class="h-btn"><h3>GET PYTHON SEM IV NOTES</h3></a>
             
            </div>

            <div class="box3">
               
                <h6>AUTOMATA</h6><br>
                <a href="{% url 'automata' %}" class="h-btn"><h3>GET PYTHON SEM IV NOTES</h3></a>
               
            </div>


           

            <div class="box6">
               
                <h6>OS</h6><br>
                <a href="{% url 'os' %}" class="h-btn"><h3>GET OS SEM IV NOTES</h3></a>
                
            </div>

            <div class="box5">
               
                <h6>COA</h6><br>
                <a href="{% url 'coa' %}" class="h-btn"><h3>GET COA SEM IV NOTES</h3> </a>
              
            </div>

        </div>
         
         </section>



        

    

    </div>
   
</section>
</body>

</html>






{% endif %}







<!-----------

    

    <section class="radio-section">

        
        
        
        <div class="radio-list">
            

            

           <script>
        function img(x)
        {
            if (x==0)

                window.open('https://drive.google.com/drive/folders/1-01BQ5s-QXL-ekA3B7ty7skrehcGDW3Q?usp=sharing' , '_self');
                return true;

            else if (x==1)

            window.open("https://drive.google.com/drive/folders/1-01BQ5s-QXL-ekA3B7ty7skrehcGDW3Q?usp=sharing")

            else if (x==2)

            window.open("https://drive.google.com/drive/folders/1-01BQ5s-QXL-ekA3B7ty7skrehcGDW3Q?usp=sharing")

            else if (x==3)
     
            <a href="Topics.html">NOTES</a>;

            else if (x==4)
    
             <a href="Topics.html">NOTES</a>;

            else if (x==5)
         
            <a href="Topics.html">NOTES</a>;
             
           
            
        }



    </script>g
            <div class="radio-item">
                <input type="radio" onclick="img(0)" name="radio" value="maths" id="radio1">
              
                <label for="radio1">MATHS</label>
            </div>
            
            <div class="radio-item">
                <input type="radio" onclick="img(1)" name="radio" value="CNND" id="radio2">
                <label for= "radio2"><a href="index.html"></a>CNND</label></a>
            </div>

            <div class="radio-item">
                <input type="radio" onclick="img(2)" name="radio" value="PP"  id="radio3">
                <label for="radio3">PYTHON PROGRAMMING</label>
            </div>

            <div class="radio-item">
                <input type="radio" onclick="img(3)" name="radio" value="AT"  id="radio4">
                <label for="radio4">AUTOMETA THEORY</label>
            </div>

            <div class="radio-item">
                <input type="radio" onclick="img(4)" name="radio" value="COA" id="radio5">
                <label for="radio5">COA</label>
            </div>

            <div class="radio-item">
                <input type="radio" onclick="img(5)" name="radio" value="OS" id="radio6">
                <label for="radio6">OS</label>
            </div>
          

            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="index.html" class="h-btn"> GO BACK TO HOME PAGE</a>
        </div>
       

       
    </section>

    <div class="pdf"> --------->
<!-----------------------------------------
     if (x==0)
            document.getElementById('mat').style.display='block',
            document.getElementById('cnn').style.display='none',
            document.getElementById('ppn').style.display='none',
            document.getElementById('ATn').style.display='none',
            document.getElementById('coa').style.display='none',
            document.getElementById('osn').style.display='none';

        <img src="images/pic-1.png" id="mat">
        <img src="images/pic-2.png" id="cnn" >
        <img src="images/pic-3.png" id="ppn">
        <img src="images/pic-4.png" id="ATn">
        <img src="images/pic-5.png" id="coa">
        <img src="images/pic-6.png" id="osn">
            <a href="Maths 1-1 " target="_blank"  download="Aditya CV" class="btn2">Download Cv</a>  
            <embed src="PDF/MATHS/1.1.pdf" width="-200px" height="200px" id="cnn">
        <embed src="PDF/MATHS/1.2.pdf" width="-200px" height="200px" id="ATn">
        <embed src="PDF/MATHS/1.3.pdf" width="-200px" height="200px" id="coa"> 
        
----------------->

    
        
        

